<div class="show-container">
<div class="show-title" >
  <h2>Bike Details</h2>
<h3>
    <%= bike.title %>
  </h3>
</div>
  <div class="show-img-wrapper">

    <img src="<%= bike.image_url %>" alt="">

  </div>

  <div class="bike-details">

    <h3>
      <%= bike.brand %>
    </h3>
    <h3>
      <%= bike.model %>
    </h3>
    <div class="show-edit">
      <a href="/bikes/<%= bike.id %>/edit">edit bike details </a>

    <form action="/bikes/<%= bike.id %>" method="post">
      <input type="hidden" value="DELETE" name="_method">
      
      <button class="delete-btn">Delete</button>
    </form>
    
  </div>
  </div>




</div>